
# IDE
############################
/*.iml
/.idea
.classpath
.project
.settings/

# GRADLE
############################
/build
/.gradle

# REPORTS
############################
/src/main/resources/gadsu/reports/*.jasper

# MAC
############################
.DS_Store
/links
